<!--templates/list_items.html-->

{% extends 'base.html' %}

{% block content %}

    {% for item in list_items %}
        <div class="card">
            <div class="card-heared">
                <span class='font-weight-bold'>
                    {{ item.title }}
                </span>
                |
                <span class='text-muted'>
                     by {{ item.owner }} | {{ item.date }}
                </span>
            </div>
            <div class="card-body">
                <p>There are only {{ item.amount  }} items left for {{ item.price  }}!</p>
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'update_item' item.pk %}">Edit</a> | <a href="{% url 'delete_item' item.pk %}">Delete</a>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock content %}